<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true"><files><clear/><add value="index.html"/></files></defaultDocument>
    <directoryBrowse enabled="false"/>
    <staticContent>
      <remove fileExtension=".md"/>
      <mimeMap fileExtension=".md" mimeType="text/plain"/>
    </staticContent>
  </system.webServer>
</configuration>
